[{
    "userName": "user1",
    "gang": "blue",
    "lastStandard": "",
    "usedSpecial": false
  },
  {
    "userName": "user2",
    "gang": "red",
    "lastStandard": "",
    "usedSpecial": false
  }
]
