{
"BOT_USERNAME": "bot_username",
"OAUTH_TOKEN": "oauth:dflkj384ijafklj93sdflkjsdfkljklj",
"CHANNEL_NAME": ["#channelname"],
"SE_ACCOUNTID": "dflkj384ijafklj93sdflkjsdfkljklj",
"SE_JWTTOKEN": "dflkj384ijafklj93sdflkjsdfkljkljdflkj384ijafklj93sdflkjsdfkljkljdflkj384ijafklj93sdflkjsdfkljkljdflkj384ijafklj93sdflkjsdfkljkljdflkj384ijafklj93sdflkjsdfkljkljdflkj384ijafklj93sdflkjsdfkljkljdflkj384ijafklj93sdflkjsdfkljkljdflkj384ijafklj93sdflkjsdfkljklj"
}
